body {
    background-color:black;
}

.command-terminal-container {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Centers the div horizontally */
    margin-top: 50px;
  }
  
  .command-output {
    margin-bottom: 20px;
  }
  
  .command-input-container {
    display: flex;
    align-items: center;
  }
  
  .command-input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
  }
  
  .execute-button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  

/* main.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: 'VT323', monospace;
}

typography{
    background-color: #000;
}

.container {
  max-width: 600px;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-family: 'VT323', monospace;
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Prevent line breaks */
  border-right: 2px solid #fff; /* Create blinking cursor */
  animation: typing 2s steps(20) forwards; 
}

@keyframes typing {
  from {
    width: 0; /* Start with no width */
  }
  to {
    width: 350px; /* End with full width */
  }
}


a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

transition-effect {
  transition: opacity 3s ease-in-out;
}
